<div class="container">
  <div class="span3">
    <!--Sidebar content-->
    medio 1
  </div>
  <div class="span3">
    <!--Body content-->
    medio 1
  </div>
  <div class="span2">
    medio 2
  </div>

<div class="row">
  <div class="span3">...
    <div class="btn-group">
      <a class="btn" href="#">1</a>
      <a class="btn" href="#">2</a>
      <a class="btn" href="#">3</a>
    </div>
  </div>
  <div class="span3">...
    alsdkjfalskdj
  </div>
  <div class="span2">
    Other content
  </div>

</div>

</div>


