<div class="container">
  <div class="span8">
    <!--Sidebar content-->
    medio
  </div>

<div class="row">
  <div class="span8">...
    <div class="btn-group">
      <a class="btn" href="#">1</a>
      <a class="btn" href="#">2</a>
      <a class="btn" href="#">3</a>
    </div>
  </div>
</div>

</div>


